<div class="filmes-container">
  <div *ngFor="let filme of filmes; let index = index" class="filme-container">
    <div>
      <img [src]="filme.foto" alt="filme" />
    </div>
    <p>
      <a>{{ filme.nome }}</a>
    </p>
    <div>
      <a
        mat-flat-button
        routerLink="/filmes/editar/{{ filme.id }}"
        color="primary"
        class="button"
        >Editar</a
      >
      <a
        mat-flat-button
        color="warn"
        type="button"
        class="button"
        (click)="onRemove(filme.id)"
        >Delete</a
      >
    </div>
  </div>
</div>
