<mat-toolbar color="primary">
  <span>
    <a routerLink="" mat-button>
      <mat-icon>account_balance</mat-icon>
      Film Palace
    </a>
  </span>
  <div>
    <a mat-button routerLink="filmes/filtro"><mat-icon>search</mat-icon></a>
  </div>
  <div>
    <a mat-button routerLink="generos">Gêneros</a>
  </div>
  <div>
    <a mat-button routerLink="atores">Atores</a>
  </div>
  <div>
    <a mat-button routerLink="cinemas">Cinemas</a>
  </div>
  <div>
    <a mat-button routerLink="filmes/criar">Criar Filmes</a>
  </div>
</mat-toolbar>
